<h1>All the Familys</h1>


<table >
 <thead>
  <tr>
  <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <%# <th>Email</th> %>
    <%# <th>Phone</th> %>
    <th>Number of family members</th>
    <th>Region</th>
    <th>    </th>
     <th> Edit/</th>
     <th>Delete</th>
     </tr>
  </thead>


  <tbody>

  <% @users.each do |user| %>
      <tr>
      <td><%= user.id %></td>
       <td><%= user.firstName %></td>
        <td><%= user.lastName %></td>
        <%# <td><%= user.email %></td> 
        <%# <td><%= user.phone %></td> 
        <td><%= user.numberOfFamilyMembers %></td>
        <td><%= user.region %></td>
        <td><a href="<%= user_path(user) %>" >
           <button class="button">Open</button>
          </a>
        </td>

           <td><a href="<%= edit_user_path(user) %>" >
           <button class="button">Edit</button>
          </a>
        </td>
          <td><a data-confirm="Are you sure you want to delete <%= user.firstName %>?" data-method="delete" href="/users/<%= user.id %>" rel="nofollow"><button class="button">Delete</button>
    	   </a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>