<!DOCTYPE html>
<html>
  <head>
    <title>HelpWebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<h1> <%= link_to 'HELP WEBSITE', root_path %> </h1>

<header>

<% if admin_signed_in? %>
<p>
Welcome <%= current_admin.email %>
</p>
<%end%>

<nav>
<ul>
<li>

<% if admin_signed_in? %>
<%= link_to 'Admin Sign out', destroy_admin_session_path, method: :delete %>
<li>
<%= link_to 'All Request', users_path %>
</li>

<li>
<%= link_to 'Accepted Request', root_path %>
</li>

<%else%>
<%= link_to 'Admin Sign in', new_admin_session_path %>
</li>
<%end %>


<li>
<%= link_to 'Submit Request', users_new_path %>
</li>


</ul>
</nav>


</header>

  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
